@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

* {
    font-family: 'Public Sans', sans-serif;
}

.App {
    // background-color: $grey;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
}

// heading
.heading {
    color: $black;
    font-weight: 700;
}

// buttons
.btn-primary {
    background-color: $violet;
    border-radius: 10px;
    color: $white;
    border: solid 1px $violet;
    font-weight: 500;

    &:hover,
    &:active {
        background-color: $white !important;
        color: $violet !important;
        border: solid 1px $violet !important;
    }
}

.btn-secondary {
    background-color: $white;
    border-radius: 10px;
    color: $violet;
    border: solid 1px $violet;
    font-weight: 500;

    &:hover,
    &:active {
        background-color: $violet !important;
        color: $white !important;
        border: solid 1px $violet !important;
    }

    &.active {
        background-color: $white !important;
        color: $violet !important;
        border: solid 2px $violet !important;
        font-weight: 700;
    }

    &:disabled {
        background-color: $white;
        border-radius: 10px;
        color: $violet;
        border: solid 1px $violet;
        font-weight: 500;

        &.default {
            border: solid 1px $red !important;
            color: $red !important;
        }

        &.correct {
            border: solid 1px $green !important;
            color: $black !important;
            background-color: $green !important;
        }
    }
}
